@model CarritoMVC.Models.Producto

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    <h4> @Html.DisplayFor(model => model.Categoria.Descripcion)</h4>
    
    <hr />
    <div class="row">
       <div class="col-lg-6">
            @*<img src="@Url.Content("../img/" + Model.Imagen)/>
            *@
           
            <img src="@Url.Content("../../img/" + Model.Imagen)" />
       </div>
        <div class="col-lg-6">
            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
            <h2>@Html.DisplayFor(model => model.PrecioVigente)</h2>
        </div>
       
        
    </div>
    
</div>
@if (Context.Session.GetString("Admin") == true.ToString()){
    <div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

}
