@model IEnumerable<CarritoMVC.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<style>
    .titulo-empleados {
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        
    }

    .descripcion {
        text-align: center;
        font-size: 19px;
        font-weight: 500;
        font-family: "monospace;
    }

    .boton-detalles{
        margin-bottom:10px;
    }
</style>
<h1 class="titulo-empleados">Nuestros empleados</h1>

<table class="table">
    <thead>
        <tr>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th class="descripcion">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td class="descripcion">
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a class="btn btn-success boton-detalles" asp-action="Details" asp-route-id="@item.EmpleadoId">Detalles</a>
                    
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EmpleadoId">Eliminar</a>
                </td>
            </tr>
}
    </tbody>
</table>
