@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CarritoMVC.Models.Producto>
@{
}
<link rel="stylesheet" href="/css/estilos.css">
<main class="main">
    <div class="container">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias de Ropa
                </button>
                <ul class="dropdown-menu">
                    @foreach (Categoria c in ViewBag.categorias)
                    {
                       <li> <a asp-controller="Productos" asp-action="ProductosXCategoria" asp-route-id="@c.CategoriaId" class="dropdown-item"> @Html.DisplayFor(modelItem => c.Descripcion)</a></li>
                    }
                </ul>
            </div>

            </div>
       
        <h2 class="main-title">Todos Nuestros Productos</h2>
        <section class="container-products">
            @foreach (Producto item in Model)
            {
                
                <div class="product">
                    <img class="product__img" src="@Url.Content("/img/" + item.Imagen)" />
                    <div class="product__description">
                        <h3 class="product__title">Datos del producto @Html.DisplayFor(modelItem => item.Nombre)</h3>
                        <h3>Categoria: @Html.DisplayFor(modelItem => item.Categoria.Descripcion)</h3>
                        <span class="product__price">$ @Html.DisplayFor(modelItem => item.PrecioVigente)</span>
                    </div>
                    <a asp-controller="Productos" asp-action="Details" asp-route-id="@item.ProductoId"><i class="product__icon fa-sharp fa-solid fa-eye"></i></a>
                </div>
            }
        </section>
        <br />
        <br />
    </div>
</main>